@model int

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Barbi</title>
</head>
<body>
    <h1>Barbi oldal</h1>
    <h2>szám: @Model  </h2>
    <h3>Címsor</h3>
    <h4>Még egy címsor</h4>
</body>
</html>
